<template>
    <el-menu mode="horizontal" background-color="#324157" text-color="#FFF" active-text-color="#FFF" @select="onSelect">
        <li class="logo">Some Project</li>
        <el-submenu index="user" style="float:right">
            <template slot="title">{{ userName }}</template>
            <el-menu-item index="changePassword">Change password</el-menu-item>
            <el-menu-item index="logout">Logout</el-menu-item>
        </el-submenu>
    </el-menu>
</template>

<script>
    export default {
        computed: {
            userName() {
                return window.userName;
            }
        },

        methods: {
            onSelect(key) {
                switch (key) {
                    case 'changePassword':
                        this.$emit('changePasswordClick');

                        break;
                    case 'logout':
                        top.location.href = '/logout';

                        break;
                    default:
                        break;
                }
            }
        }
    }
</script>

<style>
    .logo {
        font-size: 18px;
        padding: 0 20px;
        white-space: nowrap;
        float: left;
        height: 60px;
        line-height: 60px;
        margin: 0;
        position: relative;
        box-sizing: border-box;
        border-bottom: 2px solid transparent;
        color: #FFF;
    }

    .logo * {
        vertical-align: middle;
    }
</style>