<template>
    <el-select style="width:100%" :value="value" @change="updateValue" clearable placeholder="(All)">
        <el-option key="A" label="Active" value="A"></el-option>
        <el-option key="I" label="Inactive" value="I"></el-option>
    </el-select>
</template>

<script>
    export default {
        props: ['value'],

        methods: {
            updateValue(value) {
                this.$emit('input', value);
            }
        }
    }
</script>
