<template>
    <el-menu :default-active="route" :router="true" class="el-menu-vertical">
        <el-submenu index="1">
            <template slot="title">
                <span>Security</span>
            </template>
            <el-menu-item index="/users">Users</el-menu-item>
        </el-submenu>
    </el-menu>
</template>

<script>
    export default {
        props: ['route']
    }
</script>

<style>
    .el-menu-vertical {
        height: 100%
    }
</style>