<template>
    <el-alert
        :title="'Welcome, ' + userName + '!'"
        type="success"
        :closable="false"
        show-icon>
    </el-alert>
</template>

<script>
    export default {
        computed: {
            userName() {
                return window.userName;
            }
        }
    }
</script>
