<template>
    <el-dialog title="Change password" :visible="formVisible" @close="onClose" @open="onOpen">

        <el-form ref="form" :model="model" label-position="top" :rules="rules">
            <el-row :gutter="20">
                <el-col :xs="24" :sm="24" :md="12" :lg="12">
                    <el-form-item label="New password" prop="new_password">
                        <el-input ref="new_password" :value="model.new_password" type="password" auto-complete="off"
                                  @input="updateModel('new_password', $event)"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :md="12" :lg="12">
                    <el-form-item label="New password confirmation" prop="new_password_confirmation">
                        <el-input :value="model.new_password_confirmation" type="password" auto-complete="off"
                                  @input="updateModel('new_password_confirmation', $event)"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-form-item style="float:right">
                <el-button v-loading="formLoading" type="primary" native-type="submit" @click.prevent="confirm()">Confirm</el-button>
                <el-button @click="onClose()">Close</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>
</template>

<script>
    export default {

        props: ['formVisible', 'model', 'formLoading'],

        data() {
            const validatePassword = (rule, value, callback) => {
                if (value !== null && this.model.new_password !== null && value.trim() !== ''
                        && this.model.new_password.trim() !== '' && value.trim() !== this.model.new_password.trim()) {
                    callback(new Error('Must be the same as the new password'));
                    return
                }
                callback()
            };

            return {
                rules: {
                    new_password: [
                        { required: true, message: 'This field is required', trigger: 'blur' }
                    ],
                    new_password_confirmation: [
                        { required: true, message: 'This field is required', trigger: 'blur' },
                        { validator: validatePassword, trigger: 'blur' }
                    ]
                }
            }
        },

        methods: {
            confirm() {
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        this.$emit('confirmClick');
                    }
                });
            },

            onClose() {
                this.$emit('onClose');
            },

            onOpen() {
                if (this.$refs.form) {
                    this.$refs.form.clearValidate();
                }
            },

            updateModel(field, value) {
                this.$emit('updateModel', { field, value });
            }
        }
    }
</script>