<template>
    <el-form :model="filters" label-position="top">
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :md="4" :lg="4">
                <el-form-item label="ID" prop="id">
                    <el-input ref="id" type="text" name="id" :value="filters.id" v-integer
                              @input="updateModel('id', $event)"></el-input>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :md="8" :lg="8">
                <el-form-item label="Name" prop="name">
                    <el-input ref="name" type="text" name="name" :value="filters.name"
                              @input="updateModel('name', $event)"></el-input>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :md="8" :lg="8">
                <el-form-item label="E-mail" prop="email">
                    <el-input ref="email" type="text" name="email" :value="filters.email"
                              @input="updateModel('email', $event)"></el-input>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :md="4" :lg="4">
                <el-form-item label="Status" prop="status">
                    <status-combo :value="filters.status" @input="updateModel('status', $event)"></status-combo>
                </el-form-item>
            </el-col>
        </el-row>

        <el-row type="flex" justify="center">
            <el-button native-type="submit" @click.prevent="filter()">Filter</el-button>
            <el-button type="primary" @click="newRecord()">New user</el-button>
        </el-row>
    </el-form>
</template>

<script>
    export default {
        props: ['filters'],

        methods: {
            filter() {
                this.$emit('filterClick');
            },

            newRecord() {
                this.$emit('newClick')
            },

            updateModel(field, value) {
                this.$emit('updateModel', { field, value });
            }
        }
    }
</script>