<template>
    <el-dialog :title="title" :visible="formVisible" @close="onClose" @open="onOpen">

        <el-form ref="form" :model="model" label-position="top" :rules="rules">
            <el-form-item label="Name" prop="name">
                <el-input ref="name" :value="model.name" auto-complete="off" autofocus
                          @input="updateModel('name', $event)"></el-input>
            </el-form-item>
            <el-form-item label="E-mail" prop="email">
                <el-input ref="email" :value="model.email" auto-complete="off"
                          @input="updateModel('email', $event)"></el-input>
            </el-form-item>
            <el-row :gutter="20" v-if="!model.id">
                <el-col :xs="24" :sm="24" :md="12" :lg="12">
                    <el-form-item label="Password" prop="password">
                        <el-input :value="model.password" type="password" auto-complete="off"
                                  @input="updateModel('password', $event)"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :md="12" :lg="12">
                    <el-form-item label="Password confirmation" prop="password_confirmation">
                        <el-input :value="model.password_confirmation" type="password" auto-complete="off"
                                  @input="updateModel('password_confirmation', $event)"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-form-item style="float:right">
                <el-button v-loading="formLoading" type="primary" native-type="submit" @click.prevent="confirm()">Confirm</el-button>
                <el-button @click="onClose()">Close</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>
</template>

<script>
    export default {

        props: ['title', 'formVisible', 'model', 'formLoading'],

        data() {
            const validatePassword = (rule, value, callback) => {
                if (value !== null && this.model.password !== null && value.trim() !== ''
                        && this.model.password.trim() !== '' && value.trim() !== this.model.password.trim()) {
                    callback(new Error('Must be the same as the password'));
                    return
                }
                callback()
            };

            return {
                rules: {
                    name: [
                        { required: true, message: 'This field is required', trigger: 'blur' }
                    ],
                    email: [
                        { required: true, message: 'This field is required', trigger: 'blur' },
                        { type: 'email', message: 'Invalid e-mail address', trigger: 'blur' }
                    ],
                    password: [
                        { required: true, message: 'This field is required', trigger: 'blur' }
                    ],
                    password_confirmation: [
                        { required: true, message: 'This field is required', trigger: 'blur' },
                        { validator: validatePassword, trigger: 'blur' }
                    ]
                }
            }
        },

        methods: {
            confirm() {
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        this.$emit('confirmClick');
                    }
                });
            },

            onClose() {
                this.$emit('onClose');
            },

            onOpen() {
                if (this.$refs.form) {
                    this.$refs.form.clearValidate();
                }
            },

            updateModel(field, value) {
                this.$emit('updateModel', { field, value });
            }
        }
    }
</script>