<template>
    <el-table :default-sort = "{prop: 'id', order: 'descending'}" v-loading="loading" :data="data" @sort-change="onSortChange" border fit>
        <el-table-column prop="id" label="ID" width="160" sortable="custom" align="right"></el-table-column>
        <el-table-column prop="created_at" label="Created at" align="center" width="180" sortable="custom"></el-table-column>
        <el-table-column prop="name" label="Name" sortable="custom"></el-table-column>
        <el-table-column prop="email" label="E-mail" sortable="custom"></el-table-column>
        <el-table-column width="350" align="center" label="Actions">
            <template slot-scope="scope">
                <el-button size="small" @click="edit(scope.row)">Edit</el-button>
                <el-button size="small" @click="changePassword(scope.row)">Change password</el-button>
                <el-button v-if="scope.row.active" size="small" type="danger" @click="deactivate(scope.row.id)">Deactivate</el-button>
                <el-button v-if="!scope.row.active" size="small" type="success" @click="restore(scope.row.id)">Restore</el-button>
            </template>
        </el-table-column>
    </el-table>
</template>

<script>
    export default {
        props: ['data', 'loading'],

        methods: {
            onSortChange(params) {
                this.$emit('onSortChange', params);
            },

            edit(row) {
                this.$emit('editClick', row);
            },

            changePassword(row) {
                this.$emit('changePasswordClick', row);
            },

            restore(id) {
                this.$emit('restoreClick', id);
            },

            deactivate(id) {
                this.$emit('deactivateClick', id);
            }
        }
    }
</script>