<template>
    <div style="width:100%">
        <div style="border-bottom: 1px solid #eff2f6">
            <p>Users</p>
        </div>
        <br/>
        <div>
            <el-card class="box-card">
                <user-filter :filters="filters"
                        @filterClick="filter"
                        @updateModel="updateFilter"
                        @newClick="newRecord">
                </user-filter>
            </el-card>

            <br/>
            <br/>

            <grid :data="data.data"
                  @onSortChange="onSortChange"
                  :loading="loading"
                  @editClick="edit"
                  @changePasswordClick="changePassword"
                  @restoreClick="restore"
                  @deactivateClick="deactivate">
            </grid>

            <br/>
            <br/>

            <el-row type="flex" justify="center">
                <el-pagination @current-change="onCurrentPageChange"
                               :current-page="filters.page"
                               :page-size="data.meta.pagination.per_page"
                               layout="total, prev, pager, next, jumper"
                               :total="data.meta.pagination.total">
                </el-pagination>
            </el-row>
        </div>

        <user-form :model="record"
                    :title="formTitle"
                    :formVisible="formVisible"
                    :formLoading="formLoading"
                    @updateModel="updateModel"
                    @onClose="formVisible = false"
                    @confirmClick="confirm">
        </user-form>

        <change-password-form :model="record"
                    :formVisible="passwordFormVisible"
                    :formLoading="passwordFormLoading"
                    @updateModel="updateModel"
                    @onClose="passwordFormVisible = false"
                    @confirmClick="confirmPasswordChange">
        </change-password-form>
    </div>
</template>

<script>
    import Vue from 'vue';
    import Filter from './Filter.vue';
    import Grid from './Grid.vue';
    import Form from './Form.vue';
    import ChangePasswordForm from './ChangePasswordForm.vue';

    export default {

        components: {
            'user-filter': Filter,
            Grid,
            'user-form': Form,
            ChangePasswordForm
        },

        data() {
            return {
                data: {
                    data: [],
                    meta: {
                        pagination: {
                            count: 0,
                            current_page: 1,
                            total: 0,
                            total_pages: 1,
                            per_page: 15
                        }
                    }
                },
                record: {},
                filters: {
                    page: 1,
                    status: 'A'
                },
                loading: false,
                formVisible: false,
                formTitle: 'New user',
                formLoading: false,
                passwordFormLoading: false,
                passwordFormVisible: false
            }
        },

        created() {
            this.getData();
        },

        methods: {
            getData() {
                this.loading = true;

                window.axios.get('/users', {
                    params: this.filters
                })

                .then((response) => {
                    this.loading = false;
                    this.data = response.data;
                })

                .catch(() => {
                    this.loading = false;
                });
            },

            confirm() {

                this.formLoading = true;

                window.axios({
                    url: (this.record.id ? `/users/${this.record.id}` : '/users'),
                    method: (this.record.id ? 'PUT' : 'POST'),
                    data: this.record
                })

                .then(() => {
                    this.formLoading = false;
                    this.formVisible = false;

                    this.$message({
                        type: 'success',
                        message: 'User saved.'
                    });

                    this.getData();
                })

                .catch(() => {
                    this.formLoading = false;
                });
            },

            changePassword(reg) {
                this.record = Object.assign({}, reg);
                this.passwordFormVisible = true;
            },

            edit(reg) {
                this.record = Object.assign({}, reg);
                this.formTitle = 'Edit user';
                this.formVisible = true;
            },

            restore(id) {

                this.loading = true;

                window.axios.put(`/users/${id}/restore`)

                .then(() => {
                    this.loading = false;

                    this.$message({
                        type: 'success',
                        message: 'User restored.'
                    });

                    this.getData();
                })

                .catch(() => {
                    this.loading = false;
                });
            },

            deactivate(id) {

                this.loading = true;

                window.axios.delete(`/users/${id}`)

                .then(() => {
                    this.loading = false;

                    this.$message({
                        type: 'success',
                        message: 'User deactivated.'
                    });

                    this.getData();
                })

                .catch(() => {
                    this.loading = false;
                });
            },

            confirmPasswordChange() {
                this.passwordFormLoading = true;

                window.axios({
                    url: `/users/${this.record.id}/change_password`,
                    method: 'PUT',
                    data: this.record
                })

                .then(() => {
                    this.passwordFormLoading = false;
                    this.passwordFormVisible = false;

                    this.$message({
                        type: 'success',
                        message: 'Password changed.'
                    });

                    this.getData();
                })

                .catch(() => {
                    this.passwordFormLoading = false;
                });
            },

            newRecord() {
                this.record = {};
                this.formTitle = 'New user';
                this.formVisible = true;
            },

            filter() {
                Vue.set(this.filters, 'page', 1);

                this.getData();
            },

            onSortChange(params) {
                Vue.set(this.filters, 'orderBy', params.prop);
                Vue.set(this.filters, 'order', params.order);

                this.getData();
            },

            onCurrentPageChange(page) {
                Vue.set(this.filters, 'page', page);

                this.getData();
            },

            //Could use mixins here, but as this sample has only one crud, let's do this way
            updateModel({ field, value }) {
                Vue.set(this.record, field, value);
            },

            updateFilter({ field, value }) {
                Vue.set(this.filters, field, value);
            }
        }
    }
</script>
