/* theme color */
// $--color-primary: #a21627;

/* icon font path, required */
$--font-path: '../../../node_modules/element-ui/lib/theme-chalk/fonts';

@import "../../../node_modules/element-ui/packages/theme-chalk/src/index";

* {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.el-table .cell {
  white-space: pre-wrap;
  word-break: break-word;
}

div .el-date-editor--date {
  width: 100%!important;
}