<template>
    <div id="app">
        <el-container>
            <el-header style="padding-left: 0;padding-right: 0;">
                <app-header @changePasswordClick="showChangePasswordForm"></app-header>
            </el-header>
            <el-container class="appcontainer">
                <el-aside width="270px">
                    <system-menu :route="$router.currentRoute.path"></system-menu>
                </el-aside>
                <el-main>
                    <el-container>
                        <router-view></router-view>
                    </el-container>
                </el-main>
            </el-container>
        </el-container>

        <change-own-password-form @onClose="hideChangePasswordForm"
                                  :formVisible="passwordFormVisible"></change-own-password-form>
    </div>
</template>
<script>
    import AppHeader from './components/AppHeader.vue';
    import SystemMenu from './components/SystemMenu.vue';
    import ChangeOwnPasswordForm from './ChangeOwnPasswordForm.vue';

    export default {
        name: 'app',

        components: {
            AppHeader,
            SystemMenu,
            ChangeOwnPasswordForm
        },

        data() {
            return {
                passwordFormVisible: false
            }
        },

        methods: {
            showChangePasswordForm() {
                this.passwordFormVisible = true
            },

            hideChangePasswordForm() {
                this.passwordFormVisible = false
            }
        }
    };
</script>

<style>
    aside.el-aside > ul {
        background-color: #f7f7f7!important;
    }

    .el-dialog__body {
        padding-bottom:58px!important;
    }

    .appcontainer {
        position:absolute;
        height: 100%;
        width:100%;
        margin-top:61px
    }
</style>