<template>
    <div id="app" style="padding-top:100px">
        <el-row :gutter="20">
            <el-col :span="10" :offset="7">
                <el-card class="box-card" v-loading="loading">
                    <div slot="header" class="clearfix">
                        <span>Login</span>
                    </div>
                    <el-form ref="form" :model="form" label-width="120px" :rules="rules" label-position="top">
                        <el-form-item label="E-mail:" prop="email">
                            <el-input type="email" v-model="form.email" autofocus></el-input>
                        </el-form-item>
                        <el-form-item label="Password:" prop="password">
                            <el-input type="password" v-model="form.password"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button native-type="submit" style="float:right"
                                       type="primary" @click.prevent="onSubmit">Submit</el-button>
                        </el-form-item>
                    </el-form>
                </el-card>
            </el-col>
            <el-col :span="4"></el-col>
        </el-row>
    </div>
</template>
<script>
    export default {
        name: 'app',

        data() {
            return {
                loading: false,
                form: {
                    email: '',
                    password: ''
                },
                rules: {
                    email: [
                        { required: true, message: 'This field is required', trigger: 'blur' },
                        { type: 'email', message: 'Invalid e-mail address', trigger: 'blur' }
                    ],
                    password: [
                        { required: true, message: 'This field is required', trigger: 'blur' }
                    ]
                }
            }
        },

        methods: {
            onSubmit() {
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        this.loading = true;
                        axios.post('/login', this.form)

                        .then(() => {
                            top.location.href = '/';
                        })

                        .catch(() => {
                            this.loading = false;
                        });

                        return;
                    }

                    this.$message({
                        message: 'There are invalid data. Please check all fields in red.',
                        type: 'warning',
                        duration: 8000
                    });
                });
            }
        }
    };
</script>